/* Переменные */
:root {
  --background-color: #4d4848;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --button-background-color: rgb(50, 46, 46);
  --button-hover-background-color: #333;
  --button-active-background-color: #333;
  --button-shadow: 0 5px 15px 0 rgb(21, 22, 24);
  --button-hover-shadow: 0 3px 5px 0 darkorange;
  --button-active-shadow: 0 5px 15px 0 rgb(21, 22, 24);
  --input-background-color: rgb(198, 198, 209);
  --input-text-color: #2f2e2e;
  --magic-ball-background-image-1: url(./images/frame1.png);
  --magic-ball-background-image-2: url(./images/frame2.png);
  --magic-ball-shadow-color: rgba(0, 0, 0, 0.501);
  --magic-ball-shadow-blur: 4px;
  --font-family-button: "Shantell Sans", cursive;
  --font-family-response: "Shantell Sans", cursive;
  --font-family-general: "Oranienbaum", serif;
  --font-size-footer: 12px;
  --font-size-response: 14px;
  --font-weight-normal: 400;
  --font-style-normal: normal;
  --font-transform-uppercase: uppercase;
  --transition-duration: 0.3s;
  --magic-ball-transform-scale: 1.1;
  --magic-ball-shadow-blur-hover: 0.3s ease-in-out;
}

/* Общие стили */
body {
  display: flex;
  block-size: 100vh;
  min-inline-size: 320px;
  flex-direction: column;
  background-color: var(--background-color);
  gap: 10px;
}

.page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1px;
}

.container {
  display: flex;
  max-inline-size: 600px;
  flex-direction: column;
  padding: 5px 10px;
  margin-inline: auto;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  gap: 30px;
}

/* Формы и элементы ввода */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-field {
  padding: 5px;
  background-color: var(--input-background-color);
  border-radius: 10px;
  border: var(--border-color) 2px solid;
  color: var(--input-text-color);
  min-inline-size: 280px;
}

/* Кнопки */
.button {
  padding: 5px 13px;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: var(--border-color) 1px solid;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: background-color var(--transition-duration),
    transform var(--transition-duration), box-shadow var(--transition-duration);
  position: relative;
  font-family: var(--font-family-button);
}

.button:hover {
  background-color: var(--button-hover-background-color);
  transform: scale(1.05);
  box-shadow: var(--button-hover-shadow);
  color: darkorange;
}

.button:active {
  background-color: var(--button-active-background-color);
  transform: scale(1);
  box-shadow: var(--button-active-shadow);
}

/* Шар */
.magic-ball {
  display: flex;
  background-image: var(--magic-ball-background-image-1);
  background-position: center;
  min-height: 320px;
  min-width: 310px;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  animation: ballIsOn 3s forwards;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
  transition: transform var(--transition-duration)
    var(--magic-ball-shadow-blur-hover);
}

.magic-ball:hover {
  transform: scale(var(--magic-ball-transform-scale));
}

.magic-ball::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20%;
  border-radius: 50%;
  background-color: var(--magic-ball-shadow-color);
  filter: blur(var(--magic-ball-shadow-blur));
  transition: transform var(--transition-duration)
    var(--magic-ball-shadow-blur-hover);
}

.magic-ball:hover::after {
  transform: translateX(-50%) scale(var(--magic-ball-transform-scale));
}

/* Анимации */
@keyframes ballIsOn {
  0% {
    background-image: var(--magic-ball-background-image-1);
  }
  100% {
    background-image: var(--magic-ball-background-image-2);
  }
}

.magic-ball.animate {
  animation-name: answer;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes answer {
  0% {
    background-image: var(--magic-ball-background-image-2);
  }
  50% {
    background-image: var(--magic-ball-background-image-1);
  }
  100% {
    background-image: var(--magic-ball-background-image-2);
  }
}

/* Ответ */
.response {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
  font-size: var(--font-size-response);
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-family-response);
}

/* Текстовые стили */
h2 {
  font-family: var(--font-family-button);
  font-optical-sizing: auto;
  text-transform: var(--font-transform-uppercase);
  font-style: var(--font-style-normal);
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
}

p,
input {
  font-family: var(--font-family-general);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
}

/* Дополнительные стили */
.disclaimer {
  margin-top: 20px;
}

.footer {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-footer);
  margin-top: 21px;
}
